{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="login">
    <div class="login-top">
    <a href="/"><img src="https://txt.1001fonts.net/img/txt/dHRmLjQ0LmU0NTQyMS5jR0YwYUEsLC4w/rolling-beat-personal-use.regular.png"/></a>
    <h1>PLEASE SIGN IN</h1>
    </div>
    <div class="login-bottom">
    <div class="mail-textbox"><input type="email" value="{{ last_username }}" name="email" placeholder="Enter the e-mail adress" id="inputEmail" class="form-control" required autofocus></div>
    <div class="pass-textbox"><input type="password" name="password" id="inputPassword" placeholder="Enter the password "class="form-control" required></div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
</div>
</div>
{% endblock %}
