{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block header %}
    {% include 'inc/header.html.twig' %}
{% endblock %}

{% block body %}

    <div class="homepage">

        <section class="banner">
            <div class="container">
                <div class="col w-50p">
                    <h1>{{homepage.bannerTitle}}</h1>
                    <p>{{homepage.bannerContent}}</p>
                    <a href="/register" class="button button-primary">Get started for free</a>
                </div>
                <div class="col w-50p">
                    <img src="https://docrdsfx76ssb.cloudfront.net/static/1615406718/pages/wp-content/uploads/2020/05/illo-mobile-810x480-1.jpg"/>
                </div>
            </div>
        </section>



        <div class="url-form">
            <div class="container row">

                <form action="/url/create" method="post" onsubmit="return createShortUrl()">
                    <input id="urlinput" type="text" name="url" placeholder="Shorten your link" />
                    <button id="shortenButton" class="button button-primary" type="submit">Shorten</button>
                </form>

                <div class="url-form-terms">
                   {{homepage.urlBottomText}}
                    <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>
                </div>

                <div class="flash-messages">
                    <div class="form-error"></div>
                    <div class="form-success"></div>
                </div>

            </div>
        </div>


        <section class="features">
            <div class="container row">
                <h3 class="features-title"></h3>
                <p class="features-description">
                    
                </p>

                <div class="feature-rows">
                  {% for fea in features %}
                  <div class="feature">
                        <img src="../assets/images/{{fea.photo}}" />
                        <h3>{{fea.title}}</h3>
                        <p>
                            {{fea.description}}
                        </p>
                    </div>
                  {% endfor %}
                </div>

            </div>
        </section>
        <section class="happy-customers">
            <div class="container">

            </div>
        </section>

    </div>
{% endblock %}


{% block footer %}
    {% include 'inc/footer.html.twig' %}
{% endblock %}
